<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查询物价</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v='1.0') }}">
</head>
<body>
    <a href="/" class="back-button">返回主页</a>
    <div class="search-container">
        <input type="text" id="searchInput" class="search-input" placeholder="输入物品名称..." value="伊甸币">
        <button onclick="searchItem()" class="search-button">搜索</button>
    </div>
    <div id="title-bar" class="title-bar"></div>
    <div id="info-bar" class="info-bar"></div>
    <div id="main" class="chart-container"></div>

    <script src="{{ url_for('static', filename='js/api.js', v='1.0') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js', v='1.0') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js', v='1.0') }}"></script>
</body>
</html> 