<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVE 工具集</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v='1.0') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-brand">EVE 工具集</a>
            <div class="navbar-menu">
                <a href="/price_history" class="navbar-item">价格查询</a>
            </div>
        </div>
    </nav>
</body>
</html>